<div class="nav-sidebar">
    <div class="nav-header">
        <ng-content select="[header]"></ng-content>
    </div>
    <div class="nav-container-items">
        <div class="nav-item" [ngClass]="{'is-help':item.isHelp,'active':index === selectedIndex}"
            *ngFor="let item of items;let index = index;">
            <ng-container *ngIf="!item.isHelp">
                <div class="nav-item-content" (click)="selectItem(item,index)">
                    <div class="nav-icon">
                        <app-icon [icon]="item.icon"></app-icon>
                    </div>
                    <div class="nav-label">
                        {{item.label}}
                    </div>
                </div>

            </ng-container>

            <ng-container *ngIf="item.isHelp">
                <div class="nav-wrapper-help" (click)="selectItem(item,index)">
                    <div class="nav-icon">
                        <app-icon [icon]="item.icon"></app-icon>
                    </div>
                    <div class="nav-label">
                        {{item.label}}
                    </div>
                </div>
                <div class="nav-label" (click)="selectItem(item,index)">
                    {{item.label}}
                </div>
            </ng-container>

        </div>
    </div>
</div>